//网页背景图片
body {
    background:url(/images/background.png);
    background-repeat: no-repeat; //不重复
    background-attachment:fixed;  //填充
    background-size: cover;      
    background-position:100% 100%;
}

